/* remove nitro buttom */
.channel_c91bad[aria-posinset="2"] {
    display: none;
}

/* remove app launcher */
.channelAppLauncher_df39bd {
    display: none;
}

/* remove Bookmarks */
.iconWrapper_fc4f04[aria-label="Bookmarks"] {
    display: none;
}

/* remove Help */
.iconWrapper_fc4f04[aria-label="Help"] {
    display: none;
}

/* remove Notification Settings */
.iconWrapper_fc4f04[aria-label="Notification Settings"] {
    display: none;
}

/* remove Send a gift */
.container_fdeb78 > [aria-label="Send a gift"] {
    display: none;
}
.app_a01fb1 button[aria-label="Send a gift"] {
    display: none;
}

/* remove Open GIF picker */
.button_dd4f85[aria-label="Open GIF picker"] {
    display: none;
}

/* remove Open sticker picker */
.button_dd4f85[aria-label="Open sticker picker"] {
    display: none;
}

/* remove Select emoji */
/*.emojiButtonNormal_d91a75[aria-label="Select emoji"] {
    display: none;
}

/* remove Quest Badge */
img[src="https://cdn.discordapp.com/badge-icons/7d9ae358c8c5e118768335dbe68b4fb8.png"] {
    display: none;
}

/* remove call things*/
.buttonContainer_b6e2f9 {
    display: none;
}

.container_d8cc3d {
    display: none;
}

.leftTrayIcon_d880dc {
    display: none;
}

.leftDivider_d8c748 {
    display: none;
}
